/* Created by Alhaaz */

/* Created by Alhaaz */

/* Created by Gulshan Mahawar */

/* Created by Alhaaz */

/* Created by Kim 반테 */

@import url(https://fonts.googleapis.com/css?family=Bigshot+One);
@import url("https://fonts.googleapis.com/css2?family=Red+Rose&display=swap");  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#c{
    background-color:red;
    padding-left:10px;
    padding-right:10px;
}
body {
    background-color:black;
    background-repeat:no-repeat;
    font-family: sans-serif;
    overflow-x:hidden;
    margin:0;padding:0;
    //display:flex;
    margin:0;padding:0;
      text-align:center;
      margin: 0;
 background-size:cover;
  height: 40vh;
  max-width:470px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bigshot One', serif;
    font-size:35px;
    opacity: 0.8;
    color: #ebffff;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
    webkit-animation: fade 3s infinite alternate;
    -moz-animation: fade 3s infinite alternate;
    -o-animation: fade 3s infinite alternate;
    animation: fade 3s infinite alternate;
}
    

@-moz-keyframes fade {
    40% {
        opacity: 0.8;
    }
    42% {
        opacity: 0.1;
    }
    43% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.1;
    }
    46% {
        opacity: 0.8;
    }
}

@-webkit-keyframes fade {
    40% {
        opacity: 0.8;
    }
    42% {
        opacity: 0.1;
    }
    43% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.1;
    }
    46% {
        opacity: 0.8;
    }
}

@-o-keyframes fade {
    40% {
        opacity: 0.8;
    }
    42% {
        opacity: 0.1;
    }
    43% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.1;
    }
    46% {
        opacity: 0.8;
    }
}

@keyframes fade {
    40% {
        opacity: 0.8;
    }
    42% {
        opacity: 0.1;
    }
    43% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.1;
    }
    46% {
        opacity: 0.8;
    }
}




p{
    color:yellow;
    font-size:15px;
    text-align:center;
    font-weight:bold;
    
}


b{
    color:white;
    font-weight:bold;
    font-family: "Kufam", sans-serif;
    font-size:15px;
}

hr{
    height: 3px;
Width:250px;
        background-color: #5959ff; 
            box-shadow: 0 0 5px #5959ff, 0 0 25px #5959ff, 0 0 50px #5959ff, 0 0 200px #5959ff;
        border: none;
Margin:0 10px 0 20px;


}
.con1{
color:white;
  font-size:19px; 
  letter-spacing: 1px; 
  font-weight: bold;
  font-family: 'Bigshot One', serif;
    text-align:center;
    padding:0;
   margin-top:55px; 
   height:auto;
   width:333px;
   justify-content:center;
    border-radius: 8px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.6);
    z-index: 1;
}
.swiper {
      width: 100%;
      height: 400px;
      border-radius:10%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      top:-80px;
    }

    .swiper-slide img {
      width: 80%;
      height: auto;
      object-fit: contain;
    }

    

    .swiper-pagination-bullet {
      background-color:skyblue;
    }

    .swiper-pagination-bullet-active {
      background-color: #00539CFF;
    }
.preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display:fixed;
            justify-content: center;
            align-items: center;
            background-color:black;
            z-index: 9999; 
        }
.pulse {
width: 56px;
height: 56px;
color: #FF0000; /* Changed to bright red */
background: radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
background-size: 50% 50%;
background-repeat: no-repeat;
position: relative;
}

.pulse:after {
content: "";
position: absolute;
inset: 0;
background: inherit;
opacity: 0.4;
animation: pl3 1s infinite;
}

@keyframes pl3 {
to {
transform: scale(1.8);
opacity: 0;
}
}
i {
color: black;
animation-name: what;
animation-fill-mode: forwards;
animation-duration: 2s;
}

@keyframes what {
0% {
color: black;
}
50% {
color: black;
}
100% {
color: white;
}
}
button{
    width:150px;
    height:auto;
    margin-left:20px;
    text-align: center;
color:white;
background-color:black;
border:1px solid white;
font-size:15px;
border-radius:50px;
 font-family: "Kufam", sans-serif;
 font-weight:bold;
}
    .bar{
      position: relative;
      width:500pxpx;
      top:16px;
      height:50px;
      border:5px solid;
      overflow:hidden;
      background-color:#FF0000;
      border-radius:none;
    }
    #float{
      position: absolute;
      width:100%;
      height:100%;
      top:0%;
      left:0%;
      background-color:#FFFFFF;
      animation: floater 5s linear infinite;
    }
    
    @keyframes floater{
      0%{
        left:0%;
        width:100%
      }
      100%{
        left:100%;
        width:100%;
      }
    }
    #container{
      position: absolute;
      left:0px;
      top:0px;
      border-radius:none;
    }
#heading{
    position:absolute;
    left:50%;
    display:block;
    transform:translateX(-50%);
}
#about{
    border-radius:20%;
    background-color:pink;    
}
#about:active{
    background-color:darkpink;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  
  
}
#buc-land{
    background: linear-gradient(to bottom right, #965a4a, #1a693c, #047a31);
    position:fixed;
    height:80px;
    width:100%;
    overflow:hidden;
    top:400px;
border:1px solid black;
}


#game_bg_img{
    height:100vh;
    width:100vw;
    margin:0;padding:0;
    position:absolute;
    display:none;
    left:0;
    top:0;
}

#over_img{
    position:absolute;
    left:50%;top:calc(50% + 10px);
    transform:translate(-50%,-50%);
    height:calc(100% - 26px);
    width:100%;
}

#over_txt{
    position:absolute;
    top:5px;
    color:#f00;
}

#quote{
    color:#fff;
    font-family: "Kufam", sans-serif;
    position:absolute;
    top:calc(50% + 120px);left:50%;
    transform:translate(-50%,-50%);
    font-size:20px;
    text-shadow:0 0 5px #fff;
    white-space:nowrap;
}

#after_win_img{
    width:200px;
    height:200px;
    position:absolute;
    top:calc(60% - 100px);left:50%;
    transform:translate(-50%,-50%);
    border-radius:50%;
}

#thankText{
    position:absolute;
    top:20px;
    font-family:'Bigshot One', serif;
    color:#fff;
    left:50%;
    transform:translateX(-50%);
    white-space:nowrap;
}